{% extends 'layout/base.html' %}
{% load static %}
{% block content %}
<style>
    .box{
        box-shadow: 1px 1px 7px #333;
    }
</style>

<div class="container">
    <div class="row">
        
        {% for item in arts %}
            <div class="col-md-4">
                <img src="{{item.image.url}}"  alt="" height="100px">
                <h1 class="">{{item.title}}</h1>
                <p>{{item.detail|truncatechars:100}}</p>
                <p class="lead">{{item.author}}</p>
            </div>
        {% empty %}
            <h3 class="display-2 text-center">No item found</h3>
        {% endfor %}
            
    </div>
</div>
<div class="container">
    <div class="row">
        
        {% for item in arts %}
        <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
            <div class="col p-4 d-flex flex-column position-static">
              <strong class="d-inline-block mb-2 text-primary">{{item.category}}</strong>
              <h3 class="mb-0">{{item.title}}</h3>
              <div class="mb-1 text-muted">{{item.date.day}}</div>
              <p class="card-text mb-auto">{{item.detail}}</p>
              <a href="#" class="stretched-link">Continue reading</a>
            </div>
            <div class="col-auto d-none d-lg-block bg-dark">
                <img src="{{item.image.url}}" width="300px" height="300px" alt="{{item.title}}">
            </div>
          </div>
        {% empty %}
            
        {% endfor %}
            
    </div>
</div>
{% endblock content %}
